body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  }
  
  .container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .upload-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px;
    border: 2px solid #ccc;
    border-radius: 5px;
    cursor: pointer;
    background-color: #f9f9f9;
  }
  
  .upload-box label {
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
  }
  
  .upload-box label img {
    width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius: 50%;
    margin-bottom: 10px;
    overflow: hidden;
  }
  
  .upload-box input[type="file"] {
    display: none;
  }
  
  .upload-box span {
    font-size: 16px;
  }
  
  .text {
    margin-top: 20px;
    font-weight: bold;
    font-size: 18px;
  }
  
  .button-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
  }
  
  #upload-btn {
    padding: 10px 20px;
    border: none;
    background-color: #4CAF50;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  #upload-btn:hover {
    background-color: #45a049;
  }
  